<% layout("./layout/boilerPlate") -%>
<body>
    <div class="row m-3">
        <div class="col-6 offset-3 ">
    <h3>Edit Your Listing</h3>
    <!-- for put request install method override package -->
    <form method="POST" action="/listings/<%=List._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label" for="title">Title:</label>
            <input class="form-control" name="listing[title]" value="<%=List.title%>" type="text" required>
            <div class="valid-feedback">Title looks good!</div>
        </div>
      
      <div class="mb-3">
        <label class="form-label" for="description">Description:</label>
        <textarea class="form-control" name="listing[description]"  id="" required><%=List.description%></textarea>
        <div class="invalid-feedback">Please Enter The  Description</div>
      </div>


      <div class="mb-3">
        <label class="mb-1" for="category">Category :</label>
        <select name="listing[category]" class="form-control" required>
          <option value="" disabled>Choose category</option>
          <option value="trending" <%= List.category === 'trending' ? 'selected' : '' %>>Trending</option>
          <option value="rooms" <%= List.category === 'rooms' ? 'selected' : '' %>>Rooms</option>
          <option value="iconic-cities" <%= List.category === 'iconic-cities' ? 'selected' : '' %>>Iconic Cities</option>
          <option value="mountains" <%= List.category === 'mountains' ? 'selected' : '' %>>Mountains</option>
          <option value="castles" <%= List.category === 'castles' ? 'selected' : '' %>>Castles</option>
          <option value="amazing-pools" <%= List.category === 'amazing-pools' ? 'selected' : '' %>>Amazing Pools</option>
          <option value="camping" <%= List.category === 'camping' ? 'selected' : '' %>>Camping</option>
          <option value="farms" <%= List.category === 'farms' ? 'selected' : '' %>>Farms</option>
          <option value="arctic" <%= List.category === 'arctic' ? 'selected' : '' %>>Arctic</option>
        </select>
        <div class="invalid-feedback">Please select a category</div>
      </div>
      

      <div  class="mb-3 ">
        Original Listing Image:
        <br>
       <img   src="<%=originalImageUrl%>" alt="">
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Upload New Image:</label>
        <input class="form-control" name="listing[image]"   type="file">
      </div>
     <div class="row">
        <div class="mb-3 col-md-4">
            <label  class="form-label" for="price">Price:</label>
            <input class="form-control" name="listing[price]" required value="<%= List.price %>" min="100"  type="number">
            <div class="invalid-feedback">Please Enter Valid Price</div>
          </div>
          
          
          <div class="mb-3 col-md-8">
            <label class="form-label" for="laction">Location:</label>
            <input class="form-control" name="listing[location]" required  value="<%=List.location%>" type="text">
            <div class="invalid-feedback">Please Enter The  Location</div>
          </div>
     </div>
      
      
      
      <div class="mb-3">
        <label class="form-label" for="country">Country:</label>
        <input class="form-control" name="listing[country]" required value="<%=List.country%>" type="text">
        <div class="invalid-feedback">Please Enter The Country Name</div>
      </div>
      
      
      <button class="btn  add-btn">Edit</button>
    </form>
</div>
</div>

</body>

<script src="/js/formSubmit.js"></script>
